@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

:root {
  --primary-color: #002939;
  --secondary-color: #ddc190;
  --pink-color: #fa7878;
  --main-font: 'Open Sans', sans-serif;
  --heading-font: 'Merriweather', serif;
}

* {
  box-sizing: border-box !important;
  text-decoration: none !important;
}

body {
  font-family: var(--main-font);
}

.btn-primary {
  background-color: var(--secondary-color);
  border: none;
  font-family: var(--heading-font);
}

.section-margin {
  margin-top: 100px;
}

.navbar {
  background-color: var(--primary-color) !important;
}

.navbar-toggler {
  border: none;
}

.heading {
  font-family: var(--heading-font);
  font-size: 30px;
  font-weight: 700;
}

.heading2 {
  font-family: var(--heading-font);
  font-size: 24px;
  font-weight: 700;
}

.sub-heading {
  font-weight: 500;
  color: #ffffff;
}

.navbar-brand {
  font-family: var(--heading-font);
  font-weight: 900;
}

.navbar-brand span {
  color: var(--secondary-color);
}

.nav-link {
  font-family: var(--heading-font);
}

.nav-link.active {
  color: var(--secondary-color);
}

.icon-home i {
  font-size: 1.8rem;
  color: var(--secondary-color);
}

/* home */
.home {
  background-color: var(--primary-color);
  height: 650px;
  padding-top: 14rem;
}

.home .heading {
  color: var(--secondary-color);
}

.btn-home a {
  text-decoration: none;
}

.btn-buy {
  background-color: var(--secondary-color);
  color: #ffffff;
  border-radius: 5px;
  font-family: var(--heading-font);
  font-weight: 700;
}

.btn-learn {
  color: var(--secondary-color);
  border-radius: 5px;
  border: 2px solid var(--secondary-color);
  font-family: var(--heading-font);
  font-weight: 700;
}

/* service */
.card-service {
  background-color: var(--primary-color);
  height: 234px;
  border-radius: 10px;
}

.card-service .heading {
  font-size: 26px;
}

.btn-service {
  border: 2px solid var(--secondary-color);
}

.btn-service:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.btn-service a {
  color: var(--secondary-color);
  font-family: var(--heading-font);
  font-weight: 700;
}

.btn-service:hover a {
  color: var(--primary-color);
}

/* banner */

.banner {
  height: 281px;
}

.banner2 {
  background-color: var(--primary-color);
  border-radius: 8px;
}

.banner2-info .heading2 {
  color: var(--secondary-color);
}

.banner .container {
  background-color: var(--primary-color);
  border-radius: 10px;
  padding-left: 25px;
}

.heading span {
  color: var(--secondary-color);
}

.btn-banner {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-size: 18px;
}

.banner img {
  bottom: -60%;
}

/* Products */
.product-popular .card-product {
  width: 280px;
}

.popular h3 {
  font-size: 22px;
}

.popular i {
  font-size: 2.3rem;
  color: var(--secondary-color);
}

.img-box {
  border: 2px solid var(--primary-color);
  height: 280px;
}

.img-box img {
  align-self: center;
}

.img-box:hover img {
  transform: scale(1.1);
}

.info p {
  padding: 8px;
  background-color: #000000;
  color: #ffffff;
}

.detail-product i {
  font-size: 36px;
  background-color: #ffffff;
  color: var(--secondary-color);
  padding: 16px;
  border-radius: 8px;
  border: 2px solid var(--secondary-color);
}

.detail-product:hover i {
  font-size: 36px;
  background-color: var(--secondary-color);
  color: #000000;
  padding: 16px;
  border-radius: 8px;
}

.card-arrival {
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.05);
}

.card-header {
  background-color: var(--primary-color);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.card-header i {
  position: absolute;
  right: 20px;
  top: 20px;
}

.bxs-star {
  color: #e6eb0f;
}

.bxs-heart {
  color: #fa7878;
  font-size: 32px;
}

.bx-heart {
  color: #ffffff;
  font-size: 32px;
}

.harga i {
  border: 2px solid var(--secondary-color);
  padding: 20px;
  border-radius: 4px;
  color: var(--secondary-color);
  position: absolute;
  bottom: -16px;
  right: -15px;
  font-size: 24px;
}

.harga:hover i {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  cursor: pointer;
}

.button-shop {
  margin-top: 50px;
  font-family: var(--heading-font);
  background-color: var(--secondary-color);
}

/* blog */
.blog .card-blog {
  width: 280px;
}

/* fotter */
footer {
  background-color: var(--primary-color);
  padding: 24px;
  color: #ffffff;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.social i {
  font-size: 40px;
  color: var(--secondary-color);
}

@media (min-width: 768px) {
  .home {
    padding-top: 14rem;
  }

  .home .heading {
    font-size: 36px;
  }
}

@media (min-width: 992px) {
  .content-left {
    padding-bottom: 40px;
  }

  .home .heading {
    font-size: 46px;
  }

  .home .sub-heading {
    font-size: 20px;
  }

  .home img {
    right: 0;
    bottom: -20%;
  }

  .img-jam {
    right: 0;
  }

  .home .container,
  .home .row {
    height: 100%;
  }
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}
